name: publish

on:
  release:
    types: [published]

jobs:
  publish:
    name: Publish to NPM
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: npm

      - name: Install Dependencies
        id: npm-ci
        run: npm ci

      - name: Build dist
        id: npm-build
        run: npm run bundle

      - name: Publish to NPM
        id: npm-publish
        uses: JS-DevTools/npm-publish@v4
        with:
          token: ${{secrets.NPM_TOKEN}}
          package: dist
